.topNav{
    width:100%;
    background-color:rgba(110 , 113 , 119 ,0.4);
    position:fixed;
    top:0;
    float:left;
   
}
.container {
    margin-top:120px;
    display: grid;
    grid-gap: 22px;
    grid-template-columns:repeat(auto-fill , minmax(200px , 1fr));
    grid-auto-rows:250px 150px;  
}
.container div img{
   width:100%;
   height:100%;
   object-fit:cover;
}
.container img{
    height:220px;
    opacity:0.9;    
}
    .container img:hover {
        transform: scale(1.05);
        opacity: 1;
        box-shadow: 3px 3px 3px gray;
    }
.text{
    border:1px solid gray;
    box-shadow: 1px 1px 3px 3px gray;
    padding:8px;
    font-size:1.8em;
    overflow:hidden;
}

.Home{
    border:1px solid gray;
    box-shadow:1px 1px 3px 3px gray;
    padding: 14px;
    text-align:center;
    font-size:2em;
    height:61%;
    padding-top:35%;
}
