body
{
box-sizing:border-box;
background-color: #1A1A1D;
}
.videoWrapper {
    float: right;
    position: relative;
    width:75%;
    margin: 5% 2% 2% 0%;   
}
.videoWrapper iframe{
    width:98%;
}
.buttons {
    clear:both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    background-color: rgba(78, 78, 80, 0.1);
    height: 100%; 
    position: fixed; 
    min-width:120px; 
}
li {
    background-color: #6f2232;
    padding: 6px;
    margin:3px;
    font-size:22px;
}
li:hover{
    transform:scale(1.06);
    cursor:pointer;
    background-color:#c3073f;
    color:lightgray;
}
.Home{
    color:gray;
}