body
{
    background-color:white;
    box-sizing:border-box;
}
.leftNav {
    background-color: #c5c6c7;
    box-shadow: 6px 6px 2px grey;
}
.rightNav {
    background-color: #1f2833;
    box-shadow: 6px 6px 2px grey;
}
ul{
    list-style-type:none;
    padding:0;
}
li{
    background-color:#1f2833;
    color:#c5c6c7;
    padding:10px;
    border: 1px solid #c5c6c7;
}
li:hover{
    background-color:#0b0c10;
    color:#66fcf1;
    border:3px solid #45a29e ;
}
p{
    font-size:3vmax;
    color:#c5c6c7;
    padding: 1% 4%;
    
}
@media only screen and (max-width:600px){
    .leftNav{
        width:100%
    }
    li {
        margin: 0% 10%;
        width: 70%;
    }
}
@media only screen and (min-width:600px){
    .leftNav{
        width:25%;
        height:100%;
        position:fixed;

    }
    .rightNav{
        width:25%;
        height:100%;
        right:0;
        position:fixed;
    }
}
