body , html
{
    height:100%;
    margin:0;
    box-sizing:border-box;
}
.bg {
    background-image: url("macro.jpg");
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.submitP {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow: -3px -3px 0 #222, 3px -3px 0 #222, -3px 3px 0 #222, 3px 3px 0 #222, 4px 4px 0 #fff, 5px 5px 0 #fff, 6px 6px 0 #fff, 7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin: 0;
    text-align: center;
    font-size:169px;
    position:relative;  
}


.p1{
    font-size: 5em;
    text-align:center;
}
button {
    background-color: rgba(44, 37, 42, 1); 
    border: none;
    color: white;
    padding: 14px;
    
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius:5px;
    overflow:hidden;
}
.topNav {
    background-color: rgba(149, 173, 197, 0.1);
    padding: 2% 1% 5% 1%;
    height: 15%;
}
.arrows {
    width: 45%;
   float:right;
   text-align:center;
}
.up{
    width:30%;
    margin:1% 31%;
}
.bottom {
    width: 30%;
    text-align: center; 
}
.down{
    width:30%;
    margin:1% 31%;
}
.inputer{
    width: 55%;
}
.topBtn{
    width:30%;
    margin:1%;
    float:left;
}
.inp1 {
    width: 91%;
    background-color: rgba(44, 37, 42, 0.7);
    font-size: 22px;
    padding: 10px;
   margin-right:5%;
    color: aliceblue;
    text-align: center;
    border: none;
}